lab_1/report/181060018_Sravan_MPS_EXPERIMENT_1.docx
lab_2/report/181060018_Sravan_MPS_EXPERIMENT_2.docx
lab_3/report/181060018_Sravan_MPS_EXPERIMENT_3.docx
lab_4/report/181060018_Sravan_MPS_EXPERIMENT_4.docx
lab_5/report/181060018_Sravan_MPS_EXPERIMENT_5.docx
lab_6/report/181060018_Sravan_MPS_EXPERIMENT_6.docx
8086_manual.pdf